<h3> <%= @player.name %> </h3>

<% if @player.point_entries.any? %>
<div class="table-responsive">
  <table class="table table-stripped">
    <tr>
      <th>Data</th>
      <th>Pontos</th>
    </tr>
    <% @player.point_entries.each do |point_entry| %>
      <tr>
        <td>
          <%= l(point_entry.date, format: :short) %>
        </td>
        <td>
          <%= point_entry.value %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<% else %>
<p>
  Jogador não possui pontuações
</p>
<% end %>